{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}


{% block main %}
<form id="userForm" method="post">
    {% if error %}
        <div class="alert alert-danger">Usuario o contraseña incorrectos</div>
    {% endif %}

    <h1 class="labelForm">Inicia sesión</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <i class="email_icon fas fa-envelope"></i>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    <i class="paswd_icon fas fa-key"></i>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-primary" type="submit">
        Iniciar sesión
    </button>

    <div id="userFormFooter">
        <a class="underlineHover" href="#">¿Olvidaste la contraseña?</a>
    </div>



</form>
{% endblock %}
