{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}

    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Películas y eventos</h2>
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

            <div class="col">
                <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: url('https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1') no-repeat fixed center;background-size: auto ">
                    <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1" id="event_footer">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1"
                                     alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: url('https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1') no-repeat fixed center;background-size: auto ">
                    <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1" id="event_footer">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1"
                                     alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: url('https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1') no-repeat fixed center;background-size: auto ">
                    <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1" id="event_footer">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1"
                                     alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: url('https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1') no-repeat fixed center;background-size: auto ">
                    <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1" id="event_footer">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1"
                                     alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: url('https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1') no-repeat fixed center;background-size: auto ">
                    <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1" id="event_footer">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1"
                                     alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: url('https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1') no-repeat fixed center;background-size: auto ">
                    <div class="d-flex flex-column p-5 pb-3 text-white text-shadow-1" id="event_footer">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://i2.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2021/01/nomadland-poster.jpg?resize=800%2C1185&ssl=1"
                                     alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--========Cards========-->
{% endblock %}
