<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>SOBRE EL PROYECTO</h6>
                <p class="text-justify">Este es un proyecto para un trabajo fin de grado de Ingeniería Informática en la universidad de Granada utilizando
                    el lenguaje <i>PHP</i> con el framework Symfony principalmente junto con <i>HTML, CSS, Ajax, Javascript, Bootstrap y Font-Awesome</i></p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>TECNOLOGÍAS USADAS</h6>
                <ul class="footer-links">
                    <li><a href="https://www.php.net/manual/es/intro-whatis.php">PHP</a></li>
                    <li><a href="https://symfony.com/">Symfony</a></li>
                    <li><a href="https://www.javascript.com/">Javascript</a></li>
                    <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                    <li><a href="https://twig.symfony.com/">Twig</a></li>
                    <li><a href="https://fontawesome.com/">Font Awesome</a></li>
                    <li><a href="https://es.qr-code-generator.com/">QR Code Generator</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>MÁS INFO</h6>
                <ul class="footer-links">
                    <li><a href="https://github.com/sergiocantero8/">Mi Github</a></li>
                    <li><a href="https://github.com/sergiocantero8/Cinefily">Código del proyecto</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Desarrollado por Sergio Azañón Cantero
                </p>
            </div>

        </div>
    </div>
</footer>