{#
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex ">
            <a href="/" class="navbar-brand d-flex align-items-left">

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


                <a href="/login" class="btn btn-light btn-rounded">Log in</a>
                <a href='/user/registration' class="btn btn-info btn-rounded">Regístrate</a>
                <a class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3" href="/docs/5.0/getting-started/download/">Download</a>


        </div>
    </div>
</header>
#}

<header class="bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img id="logo-web" alt="Foto de perfil" src="{{ asset('uploads/images/logo.png') }}"
                     data-holder-rendered="true">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Cartelera</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Precios</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Buscar..." aria-label="Search">
            </form>
            {% if not app.user %}
                <div class="text-end">
                    <a href='/user/login' type="button" class="btn btn-outline-light me-2 ml-2 mr-1">Login</a>
                    <a href='/user/registration' type="button" class="btn btn-warning ml-1 mr-2">Registrate</a>
                </div>
            {% else %}
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
                {#                 <div class="text-end">

                    <a href='/user/profile' type="button" class="btn btn-success btn-rounded ml-2 mr-1">Mi perfil</a>
                    <a href='/user/logout' type="button" class="btn btn-danger btn-rounded ml-1 mr-2">Logout</a>
                </div> #}

            {% endif %}
        </div>
    </div>
</header>