<header class="header-web bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img id="logo-web" alt="Foto de perfil" src="{{ asset('uploads/images/logo.png') }}"
                     data-holder-rendered="true">
            </a>

            <ul class="nav-section nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Cartelera</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Precios</a></li>
                {% if app.user and app.user.privileges == constant('ROLE_ADMIN', app.user) %}
                    <li><a href="/event/add" class="nav-link px-2 text-white">Añadir evento</a></li>
                    <li><a href="/cinema/add" class="nav-link px-2 text-white">Añadir cine</a></li>
                {% endif %}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="search-field form-control form-control-dark" placeholder="Buscar..."
                       aria-label="Search">
            </form>
            {% if not app.user %}
                <div class="text-end">
                    <a href='/user/login' type="button"
                       class="nav-button btn btn-outline-light me-2 ml-2 mr-1">Login</a>
                    <a href='/user/registration' type="button"
                       class="nav-button btn btn-warning ml-1 mr-2">Registrate</a>
                </div>
            {% else %}

                <div class="text-end">

                    <a href='/user/profile' type="button" class="nav-button btn btn-success btn-rounded ml-2 mr-1">Mi
                        perfil</a>
                    <a href='/user/logout' type="button"
                       class="nav-button btn btn-danger btn-rounded ml-1 mr-2">Logout</a>
                </div>

            {% endif %}
        </div>
    </div>
</header>