<header class="header-web text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center">
            <a href="/" class="d-flex mb-2 mb-lg-0 text-white text-decoration-none">
                <img id="logo-web" alt="Foto de perfil" src="{{ asset('uploads/images/logo.png') }}"
                     data-holder-rendered="true">
            </a>

            <ul class="nav-section nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
                <li><a href="/cinema/all" class="nav-link px-2 text-white">Nuestros cines</a></li>
                <li><a href="/showtimes" class="nav-link px-2 text-white">Cartelera</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Precios</a></li>
                {% if app.user and app.user.privileges == constant('ROLE_ADMIN', app.user) %}
                    <li><a href="/admin/event/add" class="nav-link px-2 text-white">Añadir evento</a></li>
                    <li><a href="/admin/cinema/add" class="nav-link px-2 text-white">Añadir cine</a></li>
                    <li><a href="/admin/session/add" class="nav-link px-2 text-white">Añadir sesión</a></li>
                    <li><a href="/admin/log" class="nav-link px-2 text-white">Log</a></li>
                {% endif %}
            </ul>


            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="search-field form-control form-control-dark" placeholder="Buscar..."
                       aria-label="Search">
            </form>
            {% if not app.user %}
                <div class="text-end">
                    <a href='/user/login' type="button"
                       class="nav-button btn btn-outline-light me-2 ml-2 mr-1">Login</a>
                    <a href='/user/registration' type="button"
                       class="nav-button btn btn-warning ml-1 mr-2">Registrate</a>
                </div>

            {% else %}

                <div class="text-end">

                    {#
                    <a href='/user/profile' type="button" class="nav-button btn btn-success btn-rounded ml-2 mr-1">Mi
                        perfil</a>
                    <a href='/user/logout' type="button"
                       class="nav-button btn btn-danger btn-rounded ml-1 mr-2"><i class="fas fa-sign-out-alt"></i></a>
                    #}
                    {% set imgProfile=app.user.getPhoto() %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if imgProfile is not null %}
                                    <img alt="Foto de perfil"
                                         src="{{ asset('uploads/images/' ~ imgProfile) }}"
                                         width="40" height="45" class="p-1 rounded-circle">
                                {% else %}
                                    <img src="https://w7.pngwing.com/pngs/867/694/png-transparent-user-profile-default-computer-icons-network-video-recorder-avatar-cartoon-maker-blue-text-logo.png"
                                         alt="Admin" width="40" height="40" class="p-1 rounded-circle">
                                {% endif %}

                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <p class="signed-as"> Conectado como <b>{{ app.user.getEmail() }} </b><br><i>{{ convertPrivilegesToString(app.user.getPrivileges()) }}</i> </p>
                                <hr class="horizontal-divider">
                                <a class="dropdown-item " href="/user/profile"><i class="fas fa-user mr-1"></i>Mi perfil</a>
                                <a class="dropdown-item " href="/user/myTickets"><i class="fas fa-ticket-alt"></i>Mis entradas</a>
                                <a class="dropdown-item " href="/user/logout"><i class="fas fa-sign-out-alt mr-1"></i>Cerrar sesión</a>
                                {# }<a class="dropdown-item" href="#">Log Out</a> #}
                            </div>
                        </li>
                    </ul>
                </div>


            {% endif %}
        </div>
    </div>
</header>
