@font-face {
  @import url('//fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&display=swap');
}

a {
  text-decoration: none;
  color: #5C7FB8
}

a:hover {
  text-decoration: underline;
}

#description-fluid {
  width: 77%;
}

.movie-card {
  border-radius: 10px 10px 10px 10px;
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;

  .container {
    margin: 0 auto;
    width: 780px;
    height: 640px;
    background: #F0F0ED;
    border-radius: 5px;
    position: relative;

  }

}


.backdrop {
  height: 342px;
  margin: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.backdrop:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skewY(-2.2deg);
  transform-origin: 0 0;
  //chrome antialias fix
  -webkit-backface-visibility: hidden;

}

.cover {
  position: absolute;
  top: 40px;
  left: 35px;
  z-index: 2;
}

.details {

  padding: 190px 0 0 280px;


  .main-title-event {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin-bottom: 22px;
    position: relative;
    letter-spacing: 1px;

    span {
      position: absolute;
      top: 3px;
      margin-left: 12px;
      background: #C4AF3D;
      border-radius: 5px;
      color: #544C21;
      font-size: 14px;
      padding: 0px 4px;

    }
  }

  .secondary-title-event {
    color: #C7C1BA;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  //star rating stuff via: https://codepen.io/jamesbarnett/pen/vlpkh/

  fieldset, label {
    margin: 0;
    padding: 0;
  }

  /****** Style Star Rating Widget *****/

  .rating {
    border: none;
    float: left;
  }

  .rating > input {
    display: none;
  }

  .rating > label:before {
    margin: 5px;
    margin-top: 0;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }

  .rating > .half:before {
    content: "\f089";
    position: absolute;
  }

  .rating > label {
    color: #ddd;
    float: right;
  }


  .likes {
    margin-left: 24px;
  }


  .likes:before {
    content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/icon_like.png");
    position: relative;
    top: 2px;
    padding-right: 7px;
  }

}

.description {
  line-height: 26px;
  background-color: #26272b;
  min-height: 350px;

  .youtube-trailer {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
}

.info_description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.tags {
  padding-top: 15px;
  width: 200px;
  float: left;
  text-align: center;
}

.about-event {
  padding-top: 15px;
  width: 220px;
  float: right;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-weight: bold;

  p {
    font-weight: normal;
  }
}

.card-movie__rating {
  $size: 50px;
  font-size: 15px;
  font-weight: 700;
  line-height: $size;
  position: relative;
  left: 80px;
  text-align: center;
  width: $size;

  &:after {
    border-radius: 100%;
    border: 2px solid #ee927b;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  // &:after

}

.tag {
  background: #e8bec861;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 35px;
  cursor: pointer;
  display: block;
  margin-bottom: 15px;
}

.tag:hover {
  background: #C4AF3D;
}

.overview {

  padding-top: 30px;
  padding-right: 70px;
  padding-left: 70px;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 16px;
  color: white;
}

.avatars {
  margin-top: 23px;

  img {
    cursor: pointer;
  }

  img:hover {
    opacity: 0.6;
  }

  a:hover {
    text-decoration: none;
  }
}

.delete-comment{
  .fa-trash:hover{
    color: red;
  }
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

//tooltip stuff via: https://codepen.io/peiche/pen/JaftA

a[data-tooltip] {
  position: relative;
}

a[data-tooltip]::before,
a[data-tooltip]::after {
  position: absolute;
  display: none;
  opacity: 0.85;
}

a[data-tooltip]::before {
  /*
   * using data-tooltip instead of title so we
   * don't have the real tooltip overlapping
   */
  content: attr(data-tooltip);
  background: #000;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  /* we don't want the text to wrap */
  white-space: nowrap;
  text-decoration: none;
}

a[data-tooltip]::after {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  content: '';
}

a[data-tooltip]:hover::before,
a[data-tooltip]:hover::after {
  display: block;
}

/** positioning **/

/* top tooltip */
a[data-tooltip][data-placement="top"]::before {
  bottom: 100%;
  left: 0;
  margin-bottom: 40px;
}

a[data-tooltip][data-placement="top"]::after {
  border-top-color: #000;
  border-bottom: none;
  bottom: 50px;
  left: 20px;
  margin-bottom: 4px;
}


// Sección de comentarios

.panel-heading{
  margin-top: 5px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 25px;
}
.comments-section{
  background-color: floralwhite;
  margin-left: 0!important;
  margin-right: 0!important;
}
.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:60px;
  height:70px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}
