#logo-web{
  width: 91px;
  height: 91px;
}

.header-web{
  background-color: #26272b!important;
  height: 80px;
}

.signed-as{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

hr.horizontal-divider{
  border-top: 1px solid #8c8b8b;
}

.search-field{
  font-size: 13px;
  width: 360px;
}
