#logo-web{
  width: 91px;
  height: 91px;
}

.nav-section {


  li:hover {
    font-weight: bold;
    border: 1px solid #ffc107;
    //font-size: 16px ;
    background-color: #38383e;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 10% 50%;
    cursor: pointer;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
  }
}

.header-web{
  background-color: #26272b!important;
  height: 80px;
}

.signed-as{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

hr.horizontal-divider{
  border-top: 1px solid #8c8b8b;
}

.search-field{
  font-size: 13px !important;
  width: 360px !important;
}
