.form-showtime {
  margin: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #26272b;
}

.submit-search-showtimes{
  position: relative;
  top: 35px;
  right: 35px;
}

#form_schedule_month, #form_schedule_day, #form_schedule_year{
  margin-right: 10px;
}
.button-showtimes{
  height: 35px;
  width: 65px;
  font-size: 15px;
}

.group-buttons-showtimes{
  a{
    font-size: 11px;
    margin-top: 10px;
  }

}

