<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block javascripts_head %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}


    {% block stylesheets_head  %}
        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
    {% endblock %}


</head>
<body>
{% include 'includes/header.html.twig' %}
{% include 'includes/sidebar.html.twig' %}
<main>
    {% block main %}
    {% endblock %}
</main>


{% include 'includes/footer.html.twig' %}

{% block custom_body_javascript %}

{% endblock %}
</body>
</html>
