<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
</head>
<body>
{% include 'includes/header.html.twig' %}
<main>
    {% block main %}
    {% endblock %}
</main>


{% include 'includes/footer.html.twig' %}

{% block custom_body_javascript %}
{% endblock %}
</body>
</html>
