{% extends 'base.html.twig' %}

{% block title %}Error | Cinefily{% endblock %}

{% block main %}
    <section class="error_section">
        <p class="error_section_subtitle">Opps Página no disponible !</p>
        <h1 class="error_title">
            <p>404</p>
            404
        </h1>
        <a href="/" class="btn-error">Volver al home</a>
    </section>
{% endblock %}