{% extends 'base.html.twig' %}

{% block title %}Cinefily{% endblock %}

{% block main %}
    {% set filmGenres= getAllEventGenres() %}

    <div class="container-fluid">

        <h1 class="display-4 mb-5 mt-2">Cinefily </h1>

        {% if films != null and films is not empty %}
            {% for genre in filmGenres %}
                {% if films[genre] is defined %}
                    <div class="h4"> {{ ucfirst(genre) }} </div>
                    <div class="row mt-5">
                        {% for film in films[genre] %}
                            <div class="card-box col-12 col-md-6 col-xl-4 ">
                                {% if film.tmdb_id is defined and film.tmdb_id is not null %}
                                    {% include 'includes/event_card.html.twig' with {'tmdb_id': film.tmdb_id , 'data_film' : film} %}
                                {% else %}
                                    {% include 'includes/event_card.html.twig' with {'id': film.id , 'data_film' : film} %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}


    </div>

{% endblock main %}

{% block custom_body_javascript %}
    {{ parent() }}
{% endblock %}
