{% extends 'base.html.twig' %}

{% block title %}Cinefily{% endblock %}

{% block main %}

    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="container-fluid">

        <h1 class="display-2 mb-5 mt-2">Eventos <i class="fab fa-elementor"></i></h1>
        <div class="h1">Películas premiadas <i class="fas fa-award"></i></div>

        <div class="row mt-5">

            {% if films != null and films is not empty %}
                {% for data_film in films %}
                    <div class="card-box col-12 col-md-6 col-xl-4 ">
                        {% if data_film.tmdb_id is defined and data_film.tmdb_id is not null %}
                            {% include 'includes/event_card.html.twig' with {'tmdb_id': data_film.tmdb_id , 'data_film' : data_film} %}
                        {% else %}
                            {% include 'includes/event_card.html.twig' with {'id': data_film.id , 'data_film' : data_film} %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}
