{% extends 'base.html.twig' %}

{% block title %}Mis entradas | Cinefily{% endblock %}


{% block main %}

    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-3">
                    {% include 'user/includes/data_profile.html.twig' with {'link': '/user/profile',
                        'link_name': 'Mi perfil' , 'icon': 'fas fa-user'} %}
                </div>
                <div class="col-lg-9">
                    <div class="user-profile">
                        <div class="card-body">
                            <div class="h4"><i class="fas fa-ticket-alt pr-2"></i>Mis entradas</div>
                            <div class="row">
                                {% for ticket in tickets %}
                                    <div class="col-6 mt-3">
                                        <div class="h6 font-weight-bold">{{ ticket.ticket.getSaleDate|date('d/m/y H:i') }}</div>
                                        {% include 'session/includes/ticket_movie.html.twig' %}
                                    </div>
                                {% endfor %}
                                {% if tickets is empty %}
                                    <div class="h6 m-3">Aún no has comprado ninguna entrada</div>
                                {% endif %}
                                <div class="col-12 navigation mt-5">
                                    {{ knp_pagination_render(tickets_pagination, null, {}, {
                                        'align': 'center',
                                        'size': 'large',
                                        'rounded': true,
                                    }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

{% block custom_body_javascript %}

{% endblock %}